configuration{
  modi: "run,filebrowser,drun";
  theme: "Arc-Dark";
  sidebar-mode: true;
  location: 7;
  window {
    lines: 25;
    padding: 5;
    width: 20px;
    columns: 1;
  }
  element {
    padding: 5;
  }
  filebrowser {
    directory: "/home";
    sorting-method: "name";
    directories-first: true;
  }
  font: "ubuntu 16";
  show-icons: true;
  terminal: "kitty";
  run-command: "{cmd}";
}
